div {  
  	 
     border-top: 10px solid #672739;
      border-bottom: 10px solid #672739;
      border-left: 5px solid #672739;
      border-right: 5px solid #672739;

      margin: 100px;
      background-color: #E4A8B8;
      padding-left: 10px;
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 20px;
      width: 480px;
      height: 40px;
     }

      p {  background: white;
           border: 1px dashed;
           height: 23px;
           margin-left: 82px;
           width: 400px;
           font-size: 9px;

        }